<div class="logo-container">
  <img src="assets/images/TU_LOGO.svg" alt="Logo de la Empresa" />
</div>
<mat-nav-list>
  @for (item of menuItems; track item.label) { @if (item.children) {
  <div
    mat-list-item
    class="menu-item parent-item"
    (click)="toggleSubMenu(item)"
  >
    <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
    <span matListItemTitle>{{ item.label }}</span>
    <mat-icon class="expand-icon" [class.rotated]="expandedItems.has(item)"
      >expand_more</mat-icon
    >
  </div>
  } @if (!item.children) {
  <a
    mat-list-item
    class="menu-item"
    [routerLink]="item.route"
    routerLinkActive="active-link"
  >
    <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
    <span matListItemTitle>{{ item.label }}</span>
  </a>
  } }
</mat-nav-list>
