/* Contenedor principal de la tarjeta de la página */
.page-card {
  margin: 20px;
}

/* Encabezado con título y botón */
.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px 16px;
  flex-wrap: wrap; /* Para pantallas pequeñas */
  gap: 16px;
}

.page-header mat-card-title {
  display: flex;
  align-items: center;
  gap: 12px;
  margin: 0;
}

.page-header h1 {
  margin: 0;
  font-size: 24px;
}

/* Campo de filtro */
.filter-field {
  width: 100%;
  padding: 0 0 16px;
}

/* Contenedor de la tabla para overflow */
.table-container {
  overflow: auto;
  border-radius: 8px;
}

/* Centrar Acciones en la cabecera */
.actions-header {
  text-align: center;
}
/* Centrar botones de acciones */
td.mat-mdc-cell.mdc-data-table__cell.cdk-cell.cdk-column-acciones {
  text-align: center;
}


/* Efecto hover en las filas de la tabla */
.table-row:hover {
  background-color: rgba(223, 217, 217, 0.329);
}

/* Mensajes de carga y sin datos */
.loading-container, .no-data-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
  color: grey;
}
.no-data-message mat-icon {
  font-size: 48px;
  width: 48px;
  height: 48px;
}

/* Estilos para el Modal */
.detalle-card {
  margin-bottom: 16px;
}

.detalle-avatar {
  background-color: #09113d; /* color primary */
  color: rgba(255, 255, 255, 0.992);
  display: flex;
  align-items: center;
  justify-content: center;
}

.detalle-info-row {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
}

.detalle-info-row mat-icon {
  font-size: 18px;
  height: 18px;
  width: 18px;
  color: #0d0c0c;
}