@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

html,
body {
  height: 100%;
  margin: 0;
  font-family: "Roboto", sans-serif;
  /* CAMBIO: Un fondo más oscuro para mayor contraste */
  background-color: #1c1c1e; /* Negro de iOS */

  color: #ffffff;
}
