.filters-container {
  display: flex;
  justify-content: flex-end; /* Alinea los filtros a la derecha */
  gap: 16px; /* Espacio entre los filtros */
  margin-bottom: 24px; /* Espacio debajo de los filtros, antes de las tarjetas */
  flex-wrap: wrap; /* Permite que los filtros pasen a la siguiente línea en pantallas pequeñas */
}

/* Le damos un ancho mínimo a los campos de formulario para que no se vean muy pequeños */
.filters-container mat-form-field {
  min-width: 180px;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.dashboard-card {
  border-left-width: 5px;
  border-left-style: solid;
  color: #ffffff;
}

.card-icon-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: black;
}

.card-value {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}
